/**SECTION RESUME**/

.resume{
    background-color:#060f18 ;
    padding: 140px 0px 100px 0;
    text-align: center;
}

.resume .section-content{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.resume .section-content h3{
    color: #e6e6e6;
    text-transform: uppercase;
    font-size: 30px;
}

.resume .section-content .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.resume .section-content .info .col{
    padding-top: 20px;
    width: 45%;
}

.resume .section-content .info .col .title{
    display: inline-block;
    color: #e6e6e6;
    font-weight: bold;
    border: 2px solid #e6e6e6;
    padding: 10px;
}

.resume .section-content .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}

.resume .section-content .info .col table .data{
    width: 40%;
    border-bottom: 1px solid #36A2EB;
}

.resume .section-content .info .col table h4{
    color: #36A2EB;
    font-size: 20px;
    margin-bottom: 5px;
}

.resume .section-content .info .col table p{
    color: #e6e6e6;
    font-size: 14px;
}

.resume .section-content .info .col table .promedio{
    display: block;
    color: #e6e6e6;
    margin-top: 10px;
    font-weight: bold;
}

.resume .section-content .info .col table .description{
    color: #e6e6e6;
    border-left: 1px solid #e6e6e6;
    padding-left: 20px;
}


/**RESPOSIVE SECTION 4**/

@media screen  and (max-width:800px){
    .resume .section-content .info{
        display: block;
      }
      .resume .section-content .info .col{
        width: 90%;
        margin: auto;
      }
      .resume .section-content .info .title{
        display: block;
        text-align: center;
      }
      .resume .section-content .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
      }    
}